:root {
  --color-text: #f2f2f2;
  --text-disabled: #6b7280;
  --background: #0c0a09;
  --button: #3b82f6;
  --table-secondary: #27272a;
  --border-primary: #292524;
  --border-secondary: #27272a;
  --toast-success: #22c55e;
  --toast-error: #e11d48;
  --modal-foreground: #27272a;
  --modal-input: #171717;
  --modal-background: #17171780;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
